In [1]:
%load_ext sql

In [2]:
%sql sqlite:///movie.db

u'Connected: @movie.db'

In [3]:
%%sql
CREATE TABLE Movie (
    title CHAR(100) NOT NULL PRIMARY KEY,
    length INT,
    year INT,
    genre CHAR(30)
);

CREATE TABLE Score (
    title CHAR(100),
    score FLOAT,
    PRIMARY KEY (title, score),
    FOREIGN KEY (title) REFERENCES Movie(title)
);
CREATE TABLE Star (
    sname CHAR(30) NOT NULL PRIMARY KEY,
    gender CHAR(1) CHECK (gender IN ('F', 'M')),
    birthday DATE,
    nationality CHAR(20)
);
CREATE TABLE StarIn (
    title CHAR(100),
    sname CHAR(30),
    PRIMARY KEY (title, sname),
    FOREIGN KEY (title) REFERENCES Movie(title),
    FOREIGN KEY (sname) REFERENCES Star(sname)
);
CREATE TABLE Director (
    dname CHAR(30) NOT NULL PRIMARY KEY,
    gender CHAR(1) CHECK (gender IN ('F', 'M')),
    birthday DATE,
    nationality CHAR(20)
);
CREATE TABLE DirectedBy (
    title CHAR(100),
    dname CHAR(30),
    PRIMARY KEY (title, dname),
    FOREIGN KEY (title) REFERENCES Movie(title),
    FOREIGN KEY (dname) REFERENCES Director(dname)
);

CREATE TABLE Studio (
    mname CHAR(30) NOT NULL PRIMARY KEY,
    location CHAR(200)
);

CREATE TABLE MadeBy (
    title CHAR(100),
    mname CHAR(30),
    PRIMARY KEY (title, mname),
    FOREIGN KEY (title) REFERENCES Movie(title),
    FOREIGN KEY (mname) REFERENCES Studio(mname)
);

 * sqlite:///movie.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
INSERT INTO Movie
VALUES ('The Prestige', 130, 2006,'thriller'),
('The Conjuring',112 ,2013 ,'horror'),
('Insidious', 102, 2010,'horror'),
('The Shining', 144, 1980,'horror'),
('Les Misérables', 158, 2012,'musical drama'),
('Interstellar', 169, 2014,'sci-fi'),
('The Notebook', 124, 2004,'drama'),
('Doctor Strange', 115, 2016,'sci-fi'),
('Ready Player One', 140, 2018,'sci-fi'),
('Silent Hill', 125, 2006,'horror');

 * sqlite:///movie.db
10 rows affected.

[]

In [5]:
%%sql
INSERT INTO Star
VALUES ('Shelley Duvall', 'F', '1949-07-07', 'American'),
('Anne Hathaway', 'F', '1982-11-12', 'American'),
('Jessica Chastain', 'F', '1977-03-24', 'American'),
('Radha Mitchell', 'F', '1973-11-12', 'Australian'),
('Rachel McAdams', 'F', '1978-11-17', 'Canadian'),
('Patrick Wilson', 'M', '1973-07-03', 'American'),
('Jack Nicholson', 'M', '1937-04-22', 'American'),
('Matthew McConaughey', 'M', '1969-11-04', 'American'),
('Tye Sheridan', 'M', '1996-11-11', 'American'),
('Russell Crowe', 'M', '1964-04-07', 'Australian'),
('Ryan Gosling', 'M', '1980-11-12', 'Canadian'),
('Benedict Cumberbatch', 'M', '1976-07-19', 'English');

 * sqlite:///movie.db
12 rows affected.

[]

In [6]:
%%sql
INSERT INTO Director
VALUES ('Christopher Nolan', 'M', '1970-07-30', 'English'),
('Stanley Kubrick', 'M', '1928-07-26', 'American'),
('Nick Cassavetes', 'M', '1959-05-21', 'American'),
('Scott Derrickson', 'M', '1966-07-16', 'American'),
('Steven Spielberg', 'M', '1946-12-18', 'American'),
('David Lynch', 'M', '1946-01-20', 'American'),
('Martin Scorsese', 'M', '1942-11-17', 'American'),
('Tom Hopper', 'M', '1977-02-26', 'Australian'),
('James Wan', 'M', '1972-10-05', 'Australian'),
('Christophe Gans', 'M', '1960-03-11', 'French');

 * sqlite:///movie.db
10 rows affected.

[]

In [7]:
%%sql
INSERT INTO Studio
VALUES ('Working Title Films', 'England'),
('Syncopy', 'England'),
('Hawk Films', 'England'),
('Warner Bros.', 'U.S.'),
('Blumhouse Productions', 'U.S.'),
('Legendary Pictures', 'U.S.'),
('Gran Via', 'U.S.'),
('Marvel Studios', 'U.S.'),
('Amblin Partners', 'U.S.'),
('Konami', 'Japan');

 * sqlite:///movie.db
10 rows affected.

[]

In [8]:
%%sql
INSERT INTO Score
VALUES ('The Prestige', 8.5),
('The Conjuring', 7.5),
('Insidious', 6.9),
('The Shining', 8.4),
('Les Misérables', 7.6),
('Interstellar', 8.6),
('The Notebook', 7.9),
('Doctor Strange', 7.5),
('Ready Player One', 7.5),
('Silent Hill', 6.6);

 * sqlite:///movie.db
10 rows affected.

[]

In [9]:
%%sql
INSERT INTO DirectedBy
VALUES ('The Prestige', 'Christopher Nolan'),
('The Conjuring', 'James Wan'),
('Insidious', 'James Wan'),
('The Shining', 'Stanley Kubrick'),
('Les Misérables', 'Tom Hopper'),
('Interstellar', 'Christopher Nolan'),
('The Notebook', 'Nick Cassavetes'),
('Doctor Strange', 'Scott Derrickson'),
('Ready Player One', 'Steven Spielberg'),
('Silent Hill', 'Christophe Gans');

 * sqlite:///movie.db
10 rows affected.

[]

In [10]:
%%sql
INSERT INTO MadeBy
VALUES ('The Prestige', 'Warner Bros.'),
('The Prestige', 'Syncopy'),
('The Conjuring', 'Warner Bros.'),
('Insidious', 'Blumhouse Productions'),
('The Shining', 'Hawk Films'),
('Les Misérables', 'Working Title Films'),
('Interstellar', 'Syncopy'),
('Interstellar', 'Legendary Pictures'),
('The Notebook', 'Gran Via'),
('Doctor Strange', 'Marvel Studios'),
('Ready Player One', 'Warner Bros.'),
('Ready Player One', 'Amblin Partners'),
('Silent Hill', 'Konami');

 * sqlite:///movie.db
13 rows affected.

[]

In [11]:
%%sql
INSERT INTO StarIn
VALUES ('The Prestige', 'Hugh Jackman'),
('The Prestige', 'Christian Bale'),
('The Conjuring', 'Vera Farmiga'),
('The Conjuring', 'Patrick Wilson'),
('Insidious', 'Patrick Wilson'),
('The Shining', 'Jack Nicholson'),
('The Shining', 'Shelley Duvall'),
('Les Misérables', 'Hugh Jackman'),
('Les Misérables', 'Russell Crowe'),
('Les Misérables', 'Anne Hathaway'),
('Interstellar', 'Matthew McConaughey'),
('Interstellar', 'Jessica Chastain'),
('Interstellar', 'Anne Hathaway'),
('The Notebook', 'Ryan Gosling'),
('The Notebook', 'Rachel McAdams'),
('Doctor Strange', 'Benedict Cumberbatch'),
('Doctor Strange', 'Rachel McAdams'),
('Ready Player One', 'Tye Sheridan'),
('Silent Hill', 'Radha Mitchell');

 * sqlite:///movie.db
19 rows affected.

[]

In [12]:
%%sql
SELECT * FROM Movie;

 * sqlite:///movie.db
Done.

[(u'The Prestige', 130, 2006, u'thriller'),
 (u'The Conjuring', 112, 2013, u'horror'),
 (u'Insidious', 102, 2010, u'horror'),
 (u'The Shining', 144, 1980, u'horror'),
 (u'Les Mis\xe9rables', 158, 2012, u'musical drama'),
 (u'Interstellar', 169, 2014, u'sci-fi'),
 (u'The Notebook', 124, 2004, u'drama'),
 (u'Doctor Strange', 115, 2016, u'sci-fi'),
 (u'Ready Player One', 140, 2018, u'sci-fi'),
 (u'Silent Hill', 125, 2006, u'horror')]

In [13]:
%%sql
SELECT * FROM Star;

 * sqlite:///movie.db
Done.

[(u'Shelley Duvall', u'F', u'1949-07-07', u'American'),
 (u'Anne Hathaway', u'F', u'1982-11-12', u'American'),
 (u'Jessica Chastain', u'F', u'1977-03-24', u'American'),
 (u'Radha Mitchell', u'F', u'1973-11-12', u'Australian'),
 (u'Rachel McAdams', u'F', u'1978-11-17', u'Canadian'),
 (u'Patrick Wilson', u'M', u'1973-07-03', u'American'),
 (u'Jack Nicholson', u'M', u'1937-04-22', u'American'),
 (u'Matthew McConaughey', u'M', u'1969-11-04', u'American'),
 (u'Tye Sheridan', u'M', u'1996-11-11', u'American'),
 (u'Russell Crowe', u'M', u'1964-04-07', u'Australian'),
 (u'Ryan Gosling', u'M', u'1980-11-12', u'Canadian'),
 (u'Benedict Cumberbatch', u'M', u'1976-07-19', u'English')]

In [14]:
%%sql
SELECT * FROM Director;

 * sqlite:///movie.db
Done.

[(u'Christopher Nolan', u'M', u'1970-07-30', u'English'),
 (u'Stanley Kubrick', u'M', u'1928-07-26', u'American'),
 (u'Nick Cassavetes', u'M', u'1959-05-21', u'American'),
 (u'Scott Derrickson', u'M', u'1966-07-16', u'American'),
 (u'Steven Spielberg', u'M', u'1946-12-18', u'American'),
 (u'David Lynch', u'M', u'1946-01-20', u'American'),
 (u'Martin Scorsese', u'M', u'1942-11-17', u'American'),
 (u'Tom Hopper', u'M', u'1977-02-26', u'Australian'),
 (u'James Wan', u'M', u'1972-10-05', u'Australian'),
 (u'Christophe Gans', u'M', u'1960-03-11', u'French')]

In [15]:
%%sql
SELECT * FROM Studio;

 * sqlite:///movie.db
Done.

[(u'Working Title Films', u'England'),
 (u'Syncopy', u'England'),
 (u'Hawk Films', u'England'),
 (u'Warner Bros.', u'U.S.'),
 (u'Blumhouse Productions', u'U.S.'),
 (u'Legendary Pictures', u'U.S.'),
 (u'Gran Via', u'U.S.'),
 (u'Marvel Studios', u'U.S.'),
 (u'Amblin Partners', u'U.S.'),
 (u'Konami', u'Japan')]

In [16]:
%%sql
SELECT * FROM StarIn;

 * sqlite:///movie.db
Done.

[(u'The Prestige', u'Hugh Jackman'),
 (u'The Prestige', u'Christian Bale'),
 (u'The Conjuring', u'Vera Farmiga'),
 (u'The Conjuring', u'Patrick Wilson'),
 (u'Insidious', u'Patrick Wilson'),
 (u'The Shining', u'Jack Nicholson'),
 (u'The Shining', u'Shelley Duvall'),
 (u'Les Mis\xe9rables', u'Hugh Jackman'),
 (u'Les Mis\xe9rables', u'Russell Crowe'),
 (u'Les Mis\xe9rables', u'Anne Hathaway'),
 (u'Interstellar', u'Matthew McConaughey'),
 (u'Interstellar', u'Jessica Chastain'),
 (u'Interstellar', u'Anne Hathaway'),
 (u'The Notebook', u'Ryan Gosling'),
 (u'The Notebook', u'Rachel McAdams'),
 (u'Doctor Strange', u'Benedict Cumberbatch'),
 (u'Doctor Strange', u'Rachel McAdams'),
 (u'Ready Player One', u'Tye Sheridan'),
 (u'Silent Hill', u'Radha Mitchell')]

In [17]:
%%sql
SELECT * FROM DirectedBy;

 * sqlite:///movie.db
Done.

[(u'The Prestige', u'Christopher Nolan'),
 (u'The Conjuring', u'James Wan'),
 (u'Insidious', u'James Wan'),
 (u'The Shining', u'Stanley Kubrick'),
 (u'Les Mis\xe9rables', u'Tom Hopper'),
 (u'Interstellar', u'Christopher Nolan'),
 (u'The Notebook', u'Nick Cassavetes'),
 (u'Doctor Strange', u'Scott Derrickson'),
 (u'Ready Player One', u'Steven Spielberg'),
 (u'Silent Hill', u'Christophe Gans')]

In [18]:
%%sql
SELECT * FROM MadeBy;

 * sqlite:///movie.db
Done.

[(u'The Prestige', u'Warner Bros.'),
 (u'The Prestige', u'Syncopy'),
 (u'The Conjuring', u'Warner Bros.'),
 (u'Insidious', u'Blumhouse Productions'),
 (u'The Shining', u'Hawk Films'),
 (u'Les Mis\xe9rables', u'Working Title Films'),
 (u'Interstellar', u'Syncopy'),
 (u'Interstellar', u'Legendary Pictures'),
 (u'The Notebook', u'Gran Via'),
 (u'Doctor Strange', u'Marvel Studios'),
 (u'Ready Player One', u'Warner Bros.'),
 (u'Ready Player One', u'Amblin Partners'),
 (u'Silent Hill', u'Konami')]