In [1]:
%load_ext sql

In [2]:
%sql sqlite:///movie.db

'Connected: @movie.db'

In [3]:
%%sql
PRAGMA foreign_keys=1;

 * sqlite:///movie.db
Done.

[]

In [4]:
%%sql
CREATE TABLE Movie (
    title CHAR(100) NOT NULL,
    year INT NOT NULL,
    length INT,
    genre CHAR(30),
    PRIMARY KEY (title,year)
);
CREATE TABLE Score (
    title CHAR(100),
    year INT,
    score FLOAT,
    PRIMARY KEY (title, year, score),
    FOREIGN KEY ('title','year') REFERENCES Movie('title','year') ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Star (
    sname CHAR(30) NOT NULL PRIMARY KEY,
    gender CHAR(1) CHECK (gender IN ('F', 'M')),
    birthday DATE,
    nationality CHAR(20)
);
CREATE TABLE StarIn (
    title CHAR(100),
    year INT,
    sname CHAR(30),
    PRIMARY KEY (title, year, sname),
    FOREIGN KEY ('title','year') REFERENCES Movie('title','year') ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (sname) REFERENCES Star(sname) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Director (
    dname CHAR(30) NOT NULL PRIMARY KEY,
    gender CHAR(1) CHECK (gender IN ('F', 'M')),
    birthday DATE,
    nationality CHAR(20)
);
CREATE TABLE DirectedBy (
    title CHAR(100),
    year INT,
    dname CHAR(30),
    PRIMARY KEY (title, year, dname),
    FOREIGN KEY ('title','year') REFERENCES Movie('title','year') ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (dname) REFERENCES Director(dname) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE Studio (
    mname CHAR(30) NOT NULL PRIMARY KEY,
    location CHAR(200)
);

CREATE TABLE MadeBy (
    title CHAR(100),
    year INT,
    mname CHAR(30),
    PRIMARY KEY (title, year, mname),
    FOREIGN KEY ('title','year') REFERENCES Movie('title','year') ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (mname) REFERENCES Studio(mname) ON DELETE CASCADE ON UPDATE CASCADE
);

 * sqlite:///movie.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [5]:
%%sql
INSERT INTO Movie
VALUES ('The Prestige', 2006, 130, 'thriller'),
('The Conjuring', 2013, 112, 'horror'),
('Insidious', 2010, 102, 'horror'),
('The Shining', 1980, 144, 'horror'),
('Les Misérables', 2012, 158,'musical drama'),
('Interstellar', 2014, 169, 'sci-fi'),
('The Notebook', 2004, 124, 'drama'),
('Doctor Strange', 2016, 115,'sci-fi'),
('Ready Player One', 2018, 140,'sci-fi'),
('Silent Hill', 2006, 125, 'horror'),
('Les Misérables', 1998, 134, 'drama');

 * sqlite:///movie.db
11 rows affected.

[]

In [6]:
%%sql
INSERT INTO Star
VALUES ('Hugh Jackman', 'M', '1968-10-12', 'Australian'),
('Christian Bale', 'M', '1974-01-30', 'American'),
('Vera Farmiga', 'F', '1973-08-06', 'American'),
('Shelley Duvall', 'F', '1949-07-07', 'American'),
('Anne Hathaway', 'F', '1982-11-12', 'American'),
('Jessica Chastain', 'F', '1977-03-24', 'American'),
('Radha Mitchell', 'F', '1973-11-12', 'Australian'),
('Rachel McAdams', 'F', '1978-11-17', 'Canadian'),
('Patrick Wilson', 'M', '1973-07-03', 'American'),
('Jack Nicholson', 'M', '1937-04-22', 'American'),
('Matthew McConaughey', 'M', '1969-11-04', 'American'),
('Tye Sheridan', 'M', '1996-11-11', 'American'),
('Russell Crowe', 'M', '1964-04-07', 'Australian'),
('Ryan Gosling', 'M', '1980-11-12', 'Canadian'),
('Benedict Cumberbatch', 'M', '1976-07-19', 'English'),
('Liam Neeson', 'M', '1952-06-07', 'American'),
('Geoffrey Rush', 'M', '1951-07-06', 'Australian');

 * sqlite:///movie.db
17 rows affected.

[]

In [7]:
%%sql
INSERT INTO Director
VALUES ('Christopher Nolan', 'M', '1970-07-30', 'English'),
('Stanley Kubrick', 'M', '1928-07-26', 'American'),
('Nick Cassavetes', 'M', '1959-05-21', 'American'),
('Scott Derrickson', 'M', '1966-07-16', 'American'),
('Steven Spielberg', 'M', '1946-12-18', 'American'),
('David Lynch', 'M', '1946-01-20', 'American'),
('Martin Scorsese', 'M', '1942-11-17', 'American'),
('Tom Hopper', 'M', '1977-02-26', 'Australian'),
('James Wan', 'M', '1972-10-05', 'Australian'),
('Christophe Gans', 'M', '1960-03-11', 'French'), 
('Bille August', 'M', '1948-11-09', 'Dane');

 * sqlite:///movie.db
11 rows affected.

[]

In [8]:
%%sql
INSERT INTO Studio
VALUES ('Working Title Films', 'England'),
('Syncopy', 'England'),
('Hawk Films', 'England'),
('Warner Bros.', 'U.S.'),
('Blumhouse Productions', 'U.S.'),
('Legendary Pictures', 'U.S.'),
('Gran Via', 'U.S.'),
('Marvel Studios', 'U.S.'),
('Amblin Partners', 'U.S.'),
('Konami', 'Japan'),
('Mandalay Entertainment', 'U.S.');

 * sqlite:///movie.db
11 rows affected.

[]

In [9]:
%%sql
INSERT INTO Score
VALUES ('The Prestige', 2006, 8.5),
('The Conjuring', 2013, 7.5),
('Insidious', 2010, 6.9),
('The Shining', 1980, 8.4),
('Les Misérables', 2012, 7.6),
('Interstellar', 2014, 8.6),
('The Notebook', 2004, 7.9),
('Doctor Strange', 2016, 7.5),
('Ready Player One', 2018, 7.5),
('Silent Hill', 2006, 6.6),
('Les Misérables', 1998, 7.4);

 * sqlite:///movie.db
11 rows affected.

[]

In [10]:
%%sql
INSERT INTO DirectedBy
VALUES ('The Prestige', 2006, 'Christopher Nolan'),
('The Conjuring', 2013, 'James Wan'),
('Insidious', 2010, 'James Wan'),
('The Shining', 1980, 'Stanley Kubrick'),
('Les Misérables', 2012, 'Tom Hopper'),
('Interstellar', 2014, 'Christopher Nolan'),
('The Notebook', 2004,'Nick Cassavetes'),
('Doctor Strange', 2016, 'Scott Derrickson'),
('Ready Player One', 2018, 'Steven Spielberg'),
('Silent Hill', 2006, 'Christophe Gans'), 
('Les Misérables', 1998, 'Bille August');

 * sqlite:///movie.db
11 rows affected.

[]

In [11]:
%%sql
INSERT INTO MadeBy
VALUES ('The Prestige', 2006, 'Warner Bros.'),
('The Prestige', 2006, 'Syncopy'),
('The Conjuring', 2013,'Warner Bros.'),
('Insidious', 2010, 'Blumhouse Productions'),
('The Shining',1980, 'Hawk Films'),
('Les Misérables', 2012, 'Working Title Films'),
('Interstellar', 2014, 'Syncopy'),
('Interstellar', 2014, 'Legendary Pictures'),
('The Notebook', 2004, 'Gran Via'),
('Doctor Strange', 2016, 'Marvel Studios'),
('Ready Player One', 2018, 'Warner Bros.'),
('Ready Player One', 2018, 'Amblin Partners'),
('Silent Hill', 2006, 'Konami'), 
('Les Misérables', 1998, 'Mandalay Entertainment');

 * sqlite:///movie.db
14 rows affected.

[]

In [12]:
%%sql
INSERT INTO StarIn
VALUES ('The Prestige', 2006, 'Hugh Jackman'),
('The Prestige', 2006, 'Christian Bale'),
('The Conjuring', 2013, 'Vera Farmiga'),
('The Conjuring', 2013, 'Patrick Wilson'),
('Insidious', 2010, 'Patrick Wilson'),
('The Shining',1980, 'Jack Nicholson'),
('The Shining',1980, 'Shelley Duvall'),
('Les Misérables', 2012, 'Hugh Jackman'),
('Les Misérables', 2012, 'Russell Crowe'),
('Les Misérables', 2012, 'Anne Hathaway'),
('Interstellar', 2014, 'Matthew McConaughey'),
('Interstellar', 2014, 'Jessica Chastain'),
('Interstellar', 2014, 'Anne Hathaway'),
('The Notebook', 2004, 'Ryan Gosling'),
('The Notebook', 2004, 'Rachel McAdams'),
('Doctor Strange', 2016, 'Benedict Cumberbatch'),
('Doctor Strange', 2016, 'Rachel McAdams'),
('Ready Player One',2018, 'Tye Sheridan'),
('Silent Hill', 2006, 'Radha Mitchell'), 
('Les Misérables', 1998, 'Liam Neeson'), 
('Les Misérables', 1998, 'Geoffrey Rush');

 * sqlite:///movie.db
21 rows affected.

[]

In [13]:
%%sql
SELECT * FROM Movie;

 * sqlite:///movie.db
Done.

[('The Prestige', 2006, 130, 'thriller'),
 ('The Conjuring', 2013, 112, 'horror'),
 ('Insidious', 2010, 102, 'horror'),
 ('The Shining', 1980, 144, 'horror'),
 ('Les Misérables', 2012, 158, 'musical drama'),
 ('Interstellar', 2014, 169, 'sci-fi'),
 ('The Notebook', 2004, 124, 'drama'),
 ('Doctor Strange', 2016, 115, 'sci-fi'),
 ('Ready Player One', 2018, 140, 'sci-fi'),
 ('Silent Hill', 2006, 125, 'horror'),
 ('Les Misérables', 1998, 134, 'musical drama')]

In [14]:
%%sql
SELECT * FROM Star;

 * sqlite:///movie.db
Done.

[('Hugh Jackman', 'M', '1968-10-12', 'Australian'),
 ('Christian Bale', 'M', '1974-01-30', 'American'),
 ('Vera Farmiga', 'F', '1973-08-06', 'American'),
 ('Shelley Duvall', 'F', '1949-07-07', 'American'),
 ('Anne Hathaway', 'F', '1982-11-12', 'American'),
 ('Jessica Chastain', 'F', '1977-03-24', 'American'),
 ('Radha Mitchell', 'F', '1973-11-12', 'Australian'),
 ('Rachel McAdams', 'F', '1978-11-17', 'Canadian'),
 ('Patrick Wilson', 'M', '1973-07-03', 'American'),
 ('Jack Nicholson', 'M', '1937-04-22', 'American'),
 ('Matthew McConaughey', 'M', '1969-11-04', 'American'),
 ('Tye Sheridan', 'M', '1996-11-11', 'American'),
 ('Russell Crowe', 'M', '1964-04-07', 'Australian'),
 ('Ryan Gosling', 'M', '1980-11-12', 'Canadian'),
 ('Benedict Cumberbatch', 'M', '1976-07-19', 'English'),
 ('Liam Neeson', 'M', '1952-06-07', 'American'),
 ('Geoffrey Rush', 'M', '1951-07-06', 'Australian')]

In [15]:
%%sql
SELECT * FROM Director;

 * sqlite:///movie.db
Done.

[('Christopher Nolan', 'M', '1970-07-30', 'English'),
 ('Stanley Kubrick', 'M', '1928-07-26', 'American'),
 ('Nick Cassavetes', 'M', '1959-05-21', 'American'),
 ('Scott Derrickson', 'M', '1966-07-16', 'American'),
 ('Steven Spielberg', 'M', '1946-12-18', 'American'),
 ('David Lynch', 'M', '1946-01-20', 'American'),
 ('Martin Scorsese', 'M', '1942-11-17', 'American'),
 ('Tom Hopper', 'M', '1977-02-26', 'Australian'),
 ('James Wan', 'M', '1972-10-05', 'Australian'),
 ('Christophe Gans', 'M', '1960-03-11', 'French'),
 ('Bille August', 'M', '1948-11-09', 'Dane')]

In [16]:
%%sql
SELECT * FROM Studio;

 * sqlite:///movie.db
Done.

[('Working Title Films', 'England'),
 ('Syncopy', 'England'),
 ('Hawk Films', 'England'),
 ('Warner Bros.', 'U.S.'),
 ('Blumhouse Productions', 'U.S.'),
 ('Legendary Pictures', 'U.S.'),
 ('Gran Via', 'U.S.'),
 ('Marvel Studios', 'U.S.'),
 ('Amblin Partners', 'U.S.'),
 ('Konami', 'Japan'),
 ('Mandalay Entertainment', 'U.S.')]

In [17]:
%%sql
SELECT * FROM StarIn;

 * sqlite:///movie.db
Done.

[('The Prestige', 2006, 'Hugh Jackman'),
 ('The Prestige', 2006, 'Christian Bale'),
 ('The Conjuring', 2013, 'Vera Farmiga'),
 ('The Conjuring', 2013, 'Patrick Wilson'),
 ('Insidious', 2010, 'Patrick Wilson'),
 ('The Shining', 1980, 'Jack Nicholson'),
 ('The Shining', 1980, 'Shelley Duvall'),
 ('Les Misérables', 2012, 'Hugh Jackman'),
 ('Les Misérables', 2012, 'Russell Crowe'),
 ('Les Misérables', 2012, 'Anne Hathaway'),
 ('Interstellar', 2014, 'Matthew McConaughey'),
 ('Interstellar', 2014, 'Jessica Chastain'),
 ('Interstellar', 2014, 'Anne Hathaway'),
 ('The Notebook', 2004, 'Ryan Gosling'),
 ('The Notebook', 2004, 'Rachel McAdams'),
 ('Doctor Strange', 2016, 'Benedict Cumberbatch'),
 ('Doctor Strange', 2016, 'Rachel McAdams'),
 ('Ready Player One', 2018, 'Tye Sheridan'),
 ('Silent Hill', 2006, 'Radha Mitchell'),
 ('Les Misérables', 1998, 'Liam Neeson'),
 ('Les Misérables', 1998, 'Geoffrey Rush')]

In [18]:
%%sql
SELECT * FROM MadeBy;

 * sqlite:///movie.db
Done.

[('The Prestige', 2006, 'Warner Bros.'),
 ('The Prestige', 2006, 'Syncopy'),
 ('The Conjuring', 2013, 'Warner Bros.'),
 ('Insidious', 2010, 'Blumhouse Productions'),
 ('The Shining', 1980, 'Hawk Films'),
 ('Les Misérables', 2012, 'Working Title Films'),
 ('Interstellar', 2014, 'Syncopy'),
 ('Interstellar', 2014, 'Legendary Pictures'),
 ('The Notebook', 2004, 'Gran Via'),
 ('Doctor Strange', 2016, 'Marvel Studios'),
 ('Ready Player One', 2018, 'Warner Bros.'),
 ('Ready Player One', 2018, 'Amblin Partners'),
 ('Silent Hill', 2006, 'Konami'),
 ('Les Misérables', 1998, 'Mandalay Entertainment')]

In [19]:
%%sql
SELECT * FROM Score;

 * sqlite:///movie.db
Done.

[('The Prestige', 2006, 8.5),
 ('The Conjuring', 2013, 7.5),
 ('Insidious', 2010, 6.9),
 ('The Shining', 1980, 8.4),
 ('Les Misérables', 2012, 7.6),
 ('Interstellar', 2014, 8.6),
 ('The Notebook', 2004, 7.9),
 ('Doctor Strange', 2016, 7.5),
 ('Ready Player One', 2018, 7.5),
 ('Silent Hill', 2006, 6.6),
 ('Les Misérables', 1998, 7.4)]